%h1 Dataset: #{@dataset.title}
%ul.wards
  - Ward.all.each do |w|
    - count = @dataset.data_rows.where(ward: w).count
    %li{style: "background-color: #{count_color(count)}"}
      = link_to w.name, w
      (#{count})
