- content_for :title do
  #{@ward.name} Data Mill
%h1 #{@ward.name} Data Mill
- @ward.datasets.each do |dataset, rows|
  %h2= dataset.name
  %table.table.table-striped.scroller
    - rows.each do |row|
      %tr
        - row.row.split(',').each do |col|
          %td= col

